@use '../lib/styles/variables.scss' as *;

/* My variables */
/* TODO: Add global variables for page sizing*/
:root {
  --white30: rgba(255, 255, 255, 0.3);
  --lightgrey80: rgba(150, 150, 150, 0.8);
  --darkgrey80: rgba(34, 34, 34, 0.8);
  --black30: rgba(0, 0, 0, 0.3);
  --black80: rgba(0, 0, 0, 0.8);
  --trans: rgba(0, 0, 0, 0);
  --default_padding: 1.2rem;
  --menu_left: 2rem;
}

/* General styling */
:root {
}

body {
  margin: 0;
  overflow: hidden;
}

h1,
h2,
p {
  font-weight: 400;
}

p {
  line-height: 1.5;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

pre {
  font-size: 16px;
  font-family: var(--font_mono);
  border-radius: 3px;
  padding: 0.5em;
  overflow-x: auto;
}

.text-column {
  display: flex;
  max-width: 48rem;
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Helper classes for spacing and layout */
.mt1 {
  margin-top: 1rem;
}
.mr1 {
  margin-right: 1rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.ml1 {
  margin-left: 1rem;
}
.mt2 {
  margin-top: 2rem;
}
.mr2 {
  margin-right: 2rem;
}
.mb2 {
  margin-bottom: 2rem;
}
.ml2 {
  margin-left: 2rem;
}

/* Carbon Buttons Overrides */
.save_button {
  color: green;
}
.save_button:hover {
  color: lightgreen;
}

/* Notification Overrides  */
.inline_notification {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

/* Carbon Accordion Overrides - Admin Lists*/
.admin_list_item_headline {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: calc(var(--default_padding) / 2);
}

.admin_list_item_content {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: calc(var(--default_padding) / 2);
  padding-right: calc(var(--default_padding) / 2);
  width: calc(100vw - var(--default_padding) * 2);
}

.admin_list_button_group {
  display: flex;
  gap: 0.25rem;
}
