/* @use '@fontsource/fira-mono' as *; */
@use '../lib/styles/variables.scss' as *;

/* My variables */
/* TODO: Add global variables for page sizing*/
:root {
  /* --font_body:
    Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font_mono: 'Fira Mono', monospace; */

  --white30: rgba(255, 255, 255, 0.3);
  --lightgrey80: rgba(150, 150, 150, 0.8);
  --darkgrey80: rgba(34, 34, 34, 0.8);
  --black30: rgba(0, 0, 0, 0.3);
  --black80: rgba(0, 0, 0, 0.8);
  --sharpen: 2px 2px var(--black80);
  --trans: rgba(0, 0, 0, 0);
  --default_padding: 1.2rem;
  --menu_left: 2rem;
}

/* General styling */
:root {
  /* font-family: var(--font_body); */
}

body {
  margin: 0;
  overflow: hidden;
}

h1,
h2,
p {
  font-weight: 400;
}

p {
  line-height: 1.5;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

pre {
  font-size: 16px;
  font-family: var(--font_mono);
  border-radius: 3px;
  padding: 0.5em;
  overflow-x: auto;
}

.text-column {
  display: flex;
  max-width: 48rem;
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
