version: '3'
services:
  frontend:
    image: tilloh-dev-frontend:latest
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      - BACKEND_URL=http://localhost:61154/v1
  backend:
    image: tilloh-dev-backend:latest
    ports:
      - "61154:61154"
    depends_on:
      - mongodb
    environment:
      - MONGO_DB_URL=mongodb://mongodb:27017/tilloh-dev
  mongodb:
    image: mongo:latest
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - ./mongodb_data:/data/db
