name: Frontend  Deployment to Dockerhub
on:
  push:
    branches:
      - "develop"
    paths:
      - "frontend/**"

jobs:
  test:
    name: Test and Audit
    runs-on: ubuntu-latest
    steps:
      - name: Testing Frontend
        run: echo "Testing not implemented yet..."

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache node_modules
        id: node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('package-lock.json') }}

      - name: Debug cache hit
        run: echo ${{ steps.node_modules.outputs.cache-hit }}

      - name: Npm audit
        run: cd frontend && npm audit --audit-level=critical --omit=dev


  build:
    name: Build and deploy
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Building Frontend
        run: echo "Building svelte application..."

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js 20.11.1 LTS version
        uses: actions/setup-node@v4
        with:
          node-version: 22.16.0

      - name: Cache node_modules
        id: node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules

      - name: Debug cache hit
        run: echo ${{ steps.node_modules.outputs.cache-hit }}

      - name: Npm install
        if: steps.node_modules.outputs.cache-hit != 'true' # Skip if cache hit
        run: cd frontend && npm i --legacy-peer-deps --verbose

      - name: Create staging config file
        run: |
          cd frontend/static/config
          echo '{ "backendUrl": "https://api-staging.tilloh.dev/v1" }' > config.json

      - name: Build frontend
        run: cd frontend && npm run build

      - name: Get commit hash
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build Docker image
        run: |
          docker build -t tilloh/tilloh-dev-frontend:latest -t tilloh/tilloh-dev-frontend:${{ steps.vars.outputs.sha_short }} -f Frontend.Dockerfile .

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        run: |
          docker push tilloh/tilloh-dev-frontend:latest
          docker push tilloh/tilloh-dev-frontend:${{ steps.vars.outputs.sha_short }}
